{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Snippetbox is a Go web application I developed, along while reading "Let's Go" by Alex Edwards, to explore the language's main functionalities in web development. Leveraging Go's concurrency features and extensive standard library, the application showcases routing, middleware integration, and template rendering for a dynamic web experience. From handling HTTP requests to managing database interactions, this web app demonstrates Go's versatility and efficiency across the entire web development stack, reflecting the beginning my journey of learning and mastering Go.</p>
{{end}}
